@page {
  size: letter portrait;
}

@page :left {
  margin-left: 1in;
}

@page :right {
  margin-left: 1in;
}

@media screen {
  body {
    margin: 2em;
  }
}

@media print {
  .noprint {
    display: none;
  }
}
