@page {
  size: letter landscape;
}

@page :left {
  margin-left: 0.75in;
}

@page :right {
  margin-left: 0.75in;
}

@media screen {
  body {
    margin: 2em;
  }
}

@media print {
  a::after {
    content: " (" attr(href) ")";
  }

  body {
    font-size: 14px;
  }

  .noprint {
    display: none !important;
  }
}
