:root {
  --mutedFg: #8b949e;
  --mutedBg: #f0f3f6;
  --border: #d0d7de;
  --subtleBg: #f6f8fa;
}

@page {
  size: letter landscape;
}

@page :left {
  margin-left: 0.75in;
}

@page :right {
  margin-left: 0.75in;
}

@media screen {
  body {
    margin: 2em;
  }
}

@media print {
  a::after {
    content: ' (' attr(href) ')';
  }

  body {
    font-size: 14px;
  }

  .noprint {
    display: none !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  overflow-wrap: normal;
  border: 0;
}
