.filtersFieldset {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filterCheckboxes {
  display: flex;
  gap: 16px;
  align-items: center;
}
