thead {
  display: table-header-group;
}

tfoot {
  display: table-footer-group;
}

tr {
  page-break-inside: avoid;
}

table,
tr,
td {
  border-collapse: collapse;
}

thead th,
tbody td {
  padding: 0.2em 0.4em;
}
